:root {
    --colorI: #1d3c45;
    --colorII: #d2601a;
    --colorIII: rgb(25, 70, 153)
    /* #fff1e1; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--colorI);
    font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER / NAV BAR START */
header {
    background-image: url(https://images.unsplash.com/photo-1644752393246-11f101982f0c?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0NDg1NzM1MQ&ixlib=rb-1.2.1&q=85);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 88%;
    min-height: 200px;
 }
header nav ul {
 
   display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
 
}
header nav ul li {
  list-style: none;
  
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
 padding-right: 30px;
 padding-left: 30px;
 }
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
header h1 {
font-size: 45px;
padding-left: 20px;
flex: 1;
}
.quote-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 35px;
  color: orange;
  padding-right: 60px;
  padding-top: 75px;
}
/* END HEADER/NAV BAR STYLING */



/* BEGIN ABOUT ME SECTION */
.info-title {
    font-size: 35px;
    text-align: right;
    border-right: 3px solid #1d3c45;
    padding-right: 20px;
    flex: 1;
}
.mywork {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}
.aboutme {
    display: flex;
    padding: 30px;
}
.aboutme p {
    padding-left: 30px;
    padding-right: 50px;
}
/* END ABOUT ME SECTION */


/* BEGIN MY WORK SECTION */
.work {
    display: flex;
}
.runbuddyworklink {
    flex: 8;
    /* background-image: url("../images/runbuddy.jpeg");
    width: 1200px;
    background-size: cover; */
    padding: 0 30px 30px 30px;
}
.otherworklinks {
    flex: 1;
}
.otherworklinks img {
    padding-left: 30px;
}



/* BEGIN CONTACT ME SECTION */

.contactmeheader {
    font-size: 35px;
    text-align: right;
    border-right: 3px solid #1d3c45;
    padding-right: 8px;
    flex: 1;
}
.contactinfo {
    flex: 4;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
}


/* FOOTER STYLING */
h4 {
    text-align: center;

}
